
<div id="wrapper">
    <h1>Note List</h1>
    <h2><i>See a list of jobs you have noted.</i></h2>
    <div class="row">
    <div id="listings" class="col-md-6">
    {{#each notes}}
        <p data-id={{this._id}}>
        {{this.listing.title}} <br>
        {{this.listing.link}} <br>

        {{this.title}} <br>
        {{this.body}} <hr>
    {{/each}}

    </div>
    <div id="notes"class="col-md-6"></div>
</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="app.js"></script>